<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/tailwind.css" rel="stylesheet">
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    .hidden-section {
      background: white;
      padding: 2rem;
      position: relative;
      z-index: 1;
    }

    .hidden-section h2 {
      font-size: 3rem;
    }

    .hidden-section p {
      font-size: 1.25rem;
      line-height: 1.8;
    }

    .hidden-section button {
      font-size: 1.25rem;
    }

    .hidden-section img {
      max-width: 100%;
      height: auto;
    }

    .rotate-6 {
      transform: rotate(-6deg);
    }


    .background-grid {
      background-size: 40px 40px;
      background-image: linear-gradient(to right,
          #dddddd 1px,
          transparent 1px),
        linear-gradient(to bottom, #dddddd 1px, transparent 1px);
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
    }

    .fade-out {
      opacity: 0.1;
      transition: opacity 1ms ease-out;
    }

    .fade-in {
      opacity: 1;
      transition: opacity 1ms ease-in;
    }

    .hidden-section {
      background: white;
      padding: 2rem;
    }

    #main-image {
      position: absolute;
      bottom: 0;
      width: 80%;
      max-width: 600px;
      height: auto;
      z-index: 2;
    }

    @media (max-width: 768px) {
      #main-image {
        width: 400px;
        max-width: 85%;
      }
    }
  </style>
</head>

<body>
  <header class="w-full text-sm py-4 dark:bg-neutral-800 absolute top-0 z-10">
    <nav class="max-w-[85rem] w-full mx-auto px-8 sm:px-36 flex items-center justify-between" aria-label="Global">
      <a class="text-3xl font-normal dark:text-white" href="#">SARFAD</a>
      <button
        class="sm:hidden flex items-center px-3 py-2 border rounded text-gray-600 border-gray-600 dark:text-neutral-400 dark:border-neutral-400"
        id="menu-button">
        <svg class="fill-current h-4 w-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </button>
      <div class="hidden sm:flex flex-row items-center gap-12" id="menu">
        <a class="font-medium hover:text-gray-500 dark:text-neutral-400 dark:hover:text-neutral-500" href="#">Lorem</a>
        <a class="font-medium hover:text-gray-500 dark:text-neutral-400 dark:hover:text-neutral-500" href="#">Ipsum</a>
        <a class="font-medium hover:text-gray-500 dark:text-neutral-400 dark:hover:text-neutral-500" href="#">Dolor</a>
        <a class="font-medium hover:text-gray-500 dark:text-neutral-400 dark:hover:text-neutral-500" href="#">Sit</a>
      </div>
    </nav>
    <div class="sm:hidden bg-white px-6 pb-4 hidden" id="dropdown-menu">
      <a class="block px-4 py-2 mt-2 text-sm font-medium hover:text-gray-500 bg-gray-100 rounded-lg dark:text-neutral-400 dark:bg-neutral-700 dark:hover:text-neutral-500 dark:hover:bg-neutral-600"
        href="#">Lorem</a>
      <a class="block px-4 py-2 mt-2 text-sm font-medium hover:text-gray-500 bg-gray-100 rounded-lg dark:text-neutral-400 dark:bg-neutral-700 dark:hover:text-neutral-500 dark:hover:bg-neutral-600"
        href="#">Ipsum</a>
      <a class="block px-4 py-2 mt-2 text-sm font-medium hover:text-gray-500 bg-gray-100 rounded-lg dark:text-neutral-400 dark:bg-neutral-700 dark:hover:text-neutral-500 dark:hover:bg-neutral-600"
        href="#">Dolor</a>
      <a class="block px-4 py-2 mt-2 text-sm font-medium hover:text-gray-500 bg-gray-100 rounded-lg dark:text-neutral-400 dark:bg-neutral-700 dark:hover:text-neutral-500 dark:hover:bg-neutral-600"
        href="#">Sit</a>
    </div>
  </header>

  <div class="background-grid text-center p-4">
    <div id="main-content" class="fade-in">
      <h1 class="text-5xl md:text-9xl font-semibold">
        SARFAD
      </h1>
      <h2 class="text-3xl md:text-6xl font-medium mt-2">
        CanSat tým
      </h2>
    </div>
    <img id="main-image" class="mx-auto" src="https://i.imgur.com/xYPZZ7S.png" alt="cansat heading image">

  </div>

  <div id="hidden-section" class="hidden-section mx-4 md:mx-32 mt-8">
    <div class="flex flex-col md:flex-row items-center justify-between">
      <div class="w-full md:w-1/2 mb-8 md:mb-0">
        <h2 class="text-4xl md:text-6xl font-extrabold leading-tight">Co je to CanSat?</h2>
        <p class="text-base md:text-lg mt-4">CanSat je soutěžní projekt pro studenty, kterou pořádá Evropská kosmická agentura (ESA). Cílem CanSat soutěže je vytvořit funkční model satelitu, který má rozměry podobné plechovce. Tyto CanSats jsou vypouštěny z rakety ve výšce až jednoho kilometru nad zemí.</p>
      </div>
      <div class="w-full md:w-1/2 flex justify-center">
        <img src="https://i.imgur.com/Xa48B4g.png" alt="Image 1" class="max-w-full h-auto">
      </div>
    </div>
  </div>
  
  <script>
    document.getElementById('menu-button').addEventListener('click', function () {
      const dropdownMenu = document.getElementById('dropdown-menu');
      dropdownMenu.classList.toggle('hidden');
    });

    window.addEventListener('scroll', function () {
      const mainContent = document.getElementById('main-content');
      const scrollY = window.scrollY;
      const windowHeight = window.innerHeight;

      const opacityLevel = Math.min(1, 1 - (scrollY / windowHeight) * 3);
      mainContent.style.opacity = opacityLevel;
    });
  </script>
</body>

</html>